<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoLStats</title>
</head>
<body>
    <h1>Player Recap</h1>
    <img src="https://ddragon.leagueoflegends.com/cdn/14.6.1/img/profileicon/{{ html_payload["player_icon"] }}.png" />
    <p>Summoner Name: {{ html_payload["summoner_name"] }}</p>
    <p>Tagline: {{ html_payload["tagline"] }}</p>
    <p>Region: {{ html_payload["region"] }}</p>
    <p>Summoner Level: {{ html_payload["summoner_level"] }}</p>
    <a href={{ url_for('show_homepage') }}> <p>Return to the search page</p> </a>
</body>
</html>